*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: lightgray;
}

header{
    font-weight: bold;
    font-size: 1.5em;
}

.container{
    display: flex;
    max-width: 40em;
    max-height: 40em;

    margin: 10em;

    border: 3px dashed black;

    justify-content: center;
    align-content: center;
}

.item1{
    width: 40em;
    margin: 0;
    padding: 20px;

    border: 3px solid pink;

    align-self: flex-start;
}

.item2{
    width: 40em;
    margin: 0;
    padding: 20px;

    border: 3px solid pink;

    align-self: center;
}

.item3{
    width: 40em;
    margin: 0;
    padding: 20px;

    border: 3px solid pink;

    align-self: flex-end;
}








    
      



